body{
	background-image: url('/static/img/dylan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: black;
	text-shadow: 0 2px 2px grey;
}

.btn{
	color: white;
	background: repeating-radial-gradient(circle at center,red, black 5%, blue 5%, pink 10%);
	border-color: white;
}

#email{
	color: blue;
}

#email:focus{
	border-color:blue;
}
