{% extends "base.html" %}
{% block head %}
	<link href="/static/css/admin.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<div class = "container">
	<form action = "/decisions" name = "admin">
		<div class="form-group row justify-content-center">
			<div class = "col-sm-8 text-center">
				<h1>Company Password Requirements</h1>
			</div>
		</div>
		<div class="form-group row justify-content-center text-center">
	<!--	{{ form.hidden_tag() }} -->
			<div class = "col-sm-5">
				{{ form.plength(class_="form-control", placeholder = "Minimum Password Length" )}}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class = "col-sm-5">
				{{ form.numeric }}
				{{ form.numeric.label }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class = "col-sm-5">
				{{ form.numeric }}
				{{ form.special.label }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class = "col-sm-5">
				{{ form.numeric }}
				{{ form.caps.label }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class = "col-sm-5">
				{{ form.numeric }}
				{{ form.lowercase.label }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class = "col-sm-5">
				{{ form.expiration(class_="form-control", placeholder = "Days Until Expiration") }}
			</div>
		</div>
		<div class ="form-group row justify-content-center">
			<div class = "col-sm-5">
				<button type = "submit" class = "btn btn-primary">Restrict</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
